* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#cards {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em;
}

.card {
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  padding: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card img,
.card p {
  margin-bottom: 2em;
}

.card p {
  text-align: center;
}

.card h2 {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 800;
}
.card img {
  width: 70px;
}

.card button {
  /* border-radius: 25%; */
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  color: #ffffff;
  background-color: #000000;
}

/* This is my special pink cute card */
#pink {
  background-color: #e2306c;
  border-color: #e2306c;
  color: #ffffff;
}

#pink button {
  background-color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  color: #e2306c;
}
